html {
  width: 100%;
  height: 100%;
}

.HomePage__wrapper {
  width: 100%;
  height: 100%;
  margin-top: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.HomePage__wrapper h2 {
  padding: 0;
  margin: 0;
  color: rgb(87, 12, 12);
}

.HomePage__header {
  padding: 2rem;
}

.HomePage__logo {
  width: 100%;
  height: 500px;
}

.HomePage__content {
  padding: 1 rem;
  margin: auto;
}

.HomePage__title {
  text-align: center;
}

.HomePage__movies {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.HomePage__cta {
  display: flex;
  margin: auto;
}

.HomePage__button {
  margin: auto;
  color: #2b2d42;
  border: 1px solid #2b2d42;
  padding: 1rem 2rem;
  text-decoration: none;
}

.HomePage__button:hover {
  background-color: #2b2d42;
  color: white;
}

html,
body {
  width: 100%;
}

.main__container {
  width: 90vw;
}
.main__container .movies__header-container .movies__header {
  flex-shrink: 0;
  margin: auto;
  padding: 1rem;
  width: 80%;
  background-color: #900c3f;
  color: white;
  text-align: center;
}
.main__container .movies__header-container .movies__header .movies__title {
  margin: 0;
  font-size: 25px;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main__container .movies__header-container .movies__header .movies__search .movies__input {
  width: 1200px;
  width: 80%;
  font-size: 16px;
  font-weight: bold;
}
.main__container .movies__header-container .movies__header .movies__search .movies__input__input {
  width: 100%;
}
.main__container .movies__header-container .movies__header .movies__search .movies__input::placeholder {
  color: #2b2d42;
  font-weight: bold;
}
.main__container .movies {
  width: 100%;
}
.main__container .movies__list {
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .movies .booking-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .movies .booking-btn__container .booking-btn__goBack {
  margin: 30px;
  color: #2b2d42;
  background-color: inherit;
  border: 1px solid #2b2d42;
  padding: 1rem 2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  align-items: center;
}
.main__container .movies .booking-btn__container .booking-btn__goBack:hover {
  background-color: #2b2d42;
  color: white;
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 20px;
  width: 250px;
  height: 320px;
}
.movie-item:hover {
  box-shadow: 10px 10px 20px #ccc;
}
.movie-item__poster {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.movie-item__content {
  padding: 10px;
  text-align: center;
}
.movie-item__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.movie-item__release-date {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}
.movie-item__actions {
  text-align: center;
  margin-bottom: 10px;
}
.movie-item__book-btn {
  background-color: #2b2d42;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
.movie-item__book-btn:hover {
  background-color: #121217;
}

body {
  color: #2b2d42;
  font-size: 16px;
  letter-spacing: 0.05rem;
}
body .booking__header {
  text-align: center;
}
body .title {
  font-size: 30px;
}
body .booking {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 20px;
}
body .booking:hover {
  box-shadow: 10px 10px 20px #ccc;
}
body .booking__poster {
  width: 50%;
  margin-right: auto;
}
body .booking__poster img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
body .booking__form {
  width: 100%;
  padding: 30px;
  background-color: #f0f0f0;
}
body .booking__form form {
  display: flex;
  flex-direction: column;
  color: #2b2d42;
}
body .booking__form form label {
  font-weight: bold;
  margin-top: 20px;
}
body .booking__form form input {
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
body .booking__form form button {
  margin-top: 20px;
  background-color: #2b2d42;
  border-radius: 5px;
  color: whitesmoke;
  padding: 10px 5px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
body .booking__form form button:hover {
  background-color: #121217;
}
body .booking__form .booking__details {
  max-width: 500px;
  word-wrap: break-word;
}
body .booking-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .booking-btn__container .booking-btn__goBack,
body .booking-btn__container .booking-btn__goMyOrders {
  font-size: 16px;
  letter-spacing: 0.1rem;
  margin: 30px;
  color: #2b2d42;
  background-color: inherit;
  border: 1px solid #2b2d42;
  padding: 1rem 2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  align-items: center;
}
body .booking-btn__container .booking-btn__goBack:hover,
body .booking-btn__container .booking-btn__goMyOrders:hover {
  background-color: #2b2d42;
  color: white;
}

html,
body {
  height: 100%;
}

body,
.signin {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .login {
  justify-content: center;
  height: 350px;
  width: 400px;
  margin: auto;
  padding: 60px 60px;
  background-color: rgba(124, 19, 61, 0.7215686275);
  background-size: cover;
  box-shadow: 0px 30px 60px -5px rgba(144, 12, 63, 0.7058823529);
  border-radius: 30px;
}
body .login .login__header--active {
  border-bottom: 2px solid white;
}
body .login .register__header {
  color: rgba(255, 255, 255, 0.5);
}
body .login h2 {
  padding-left: 12px;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}
body .login h2:first-child {
  padding-left: 0px;
}
body .login span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4;
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
  color: white;
}
body .login .input {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}
body .login .input:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}
body .login .input:focus + span {
  opacity: 0.6;
}
body .login input[type=email],
body .login input[type=password] {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
body .login input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  margin-top: 20px;
}
body .login h2,
body .login span {
  margin-left: 20px;
}
body .login .span {
  font-size: 14px;
}
body .login label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}
body .login .login__error {
  text-align: center;
  font-size: 14px;
  color: #FFF;
}
body .login .login__button {
  background-color: rgba(144, 12, 63, 0.6862745098);
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}
body .login .login__button:hover {
  border: 1px solid white;
  background: #900c3f;
  box-shadow: 0px 4px 35px -5px #900c3f;
  cursor: pointer;
}
body .login .remove__button,
body .login .update__button {
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
  color: white;
  text-align: right;
  font-style: inherit;
  margin-top: 25px;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 20px;
}
body .login .remove__button {
  margin-left: 15px;
}
body .login .remove__button:hover,
body .login .update__button:hover {
  background: #900c3f;
  box-shadow: 0px 4px 35px -5px #900c3f;
  cursor: pointer;
}
body .login #idUserName:hover,
body .login #idPassword:hover {
  cursor: cell;
}
body .login .login__header--active:hover,
body .login .register__header:hover {
  cursor: pointer;
}
body .login .login__button:focus {
  outline: none;
}

.change-credentials {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.change-credentials__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(144, 12, 63, 0.8392156863);
}
.change-credentials__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 60px;
  background-color: rgba(144, 12, 63, 0.6862745098);
  box-shadow: 0px 4px 35px -5px rgba(144, 12, 63, 0.6862745098);
  font-size: 16px;
  color: #FFF;
  letter-spacing: 0.8px;
  border-radius: 30px;
}
.change-credentials__input-group {
  margin-bottom: 15px;
}
.change-credentials__label {
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin: 10px;
}
.change-credentials__input {
  width: 350px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}
.change-credentials__input:focus {
  outline: none;
  border-color: #900c3f;
}
.change-credentials__submit-button {
  background-color: rgba(144, 12, 63, 0.6862745098);
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 35px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
  border: 1px solid #ddd;
}
.change-credentials__submit-button:hover {
  background: #901243;
  box-shadow: 0px 4px 35px -5px rgba(144, 12, 63, 0.7058823529);
  cursor: pointer;
}

.order-results {
  padding: 20px;
  background-color: rgba(198, 112, 112, 0.2235294118);
}
.order-results__title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.order-results__list {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.order-results__list-item {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  text-align: center;
}
.order-results__list-item:last-child {
  margin-bottom: 0;
}
.order-results__list-item > div {
  margin-bottom: 5px;
}
.order-results__list-item > div > h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.buttons-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.buttons-back__button {
  color: #2b2d42;
  border: 1px solid #2b2d42;
  padding: 1rem 2rem;
  text-decoration: none;
}
.buttons-back__button:hover {
  background-color: #2b2d42;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}