.change-credentials {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.change-credentials__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(144, 12, 63, 0.8392156863);
}
.change-credentials__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 60px;
  background-color: rgba(144, 12, 63, 0.6862745098);
  box-shadow: 0px 4px 35px -5px rgba(144, 12, 63, 0.6862745098);
  font-size: 16px;
  color: #FFF;
  letter-spacing: 0.8px;
  border-radius: 30px;
}
.change-credentials__input-group {
  margin-bottom: 15px;
}
.change-credentials__label {
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin: 10px;
}
.change-credentials__input {
  width: 350px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}
.change-credentials__input:focus {
  outline: none;
  border-color: #900c3f;
}
.change-credentials__submit-button {
  background-color: rgba(144, 12, 63, 0.6862745098);
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 35px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
  border: 1px solid #ddd;
}
.change-credentials__submit-button:hover {
  background: #901243;
  box-shadow: 0px 4px 35px -5px rgba(144, 12, 63, 0.7058823529);
  cursor: pointer;
}