html {
  width: 100%;
  height: 100%;
}

.HomePage__wrapper {
  width: 100%;
  height: 100%;
  margin-top: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  h2 {
    padding: 0;
    margin: 0;
    color: rgb(87, 12, 12)
  }
}

.HomePage__header {
  padding: 2rem;
}

.HomePage__logo {
  width: 100%;
  height: 500px;
}

.HomePage__content {
  padding: 1 rem;
  margin: auto;
}

.HomePage__title {
  text-align: center;
}

.HomePage__movies {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.HomePage__cta {
  display: flex;
  margin: auto;
}

.HomePage__button {
  margin: auto;
  color: #2b2d42;
  border: 1px solid #2b2d42;
  padding: 1rem 2rem;
  text-decoration: none;
}

.HomePage__button:hover {
  background-color: #2b2d42;
  color: white;
}